doctype html
html
    head
        title="Simple MongoDb app"
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        style 
            include style.css
    body
        div.text-center
            h1 Welcome! 
            h2 You can create here your own favourite songs list!
        div.buttons-div.container
            a.btn.btn-info(href='add-songs') Add a new song
            a.btn.btn-info(href='songs-list') View the music list